.signInFormWrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(127, 121, 188, 0.18);
}

.signInFormContainer {
    position: relative;
    border-radius: 15px;
    margin: auto;
    padding: 50px;
    background-color: white;
    top: 25vh;
    width: 25%;
    height: 400px;
}

.loginForm {
    width: 100%;
    height: 220px;
    background-color: white;
}

.loginFormForgot {
    float: right;
}

.ant-col-rtl .loginFormForgot {
    float: left;
}

.loginFormButton {
    width: 100%;
    background-color: #7f79bc;
}

.loginFormButton:hover {
    background-color: #7f79bc !important;
}

.googleButton {
    width: 200px !important;
    margin: auto !important;
    margin-bottom: 30px !important;
}