@import "nullcss.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
}

.header-container {
    height: 200px;
    position: relative;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 50px;
    min-width: 1100px;
    max-width: 1500px;
    width: 80%;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 800px;
}

header span {
    color: #313131;
    font-size: 28px;
}

header img {
    height: 150px;
}

header button {
    border-radius: 15px;
    border-color: #313131;
    width: 120px;
    height: 50px;
    font-size: 18px;
}

.header_sign_buttons {
    padding-left: 50px;
    min-width: 450px;
}

header .sign_in_button {
    background-color: #f94761;
    margin-left: 15px;
}

header .sign_up_button {
    background-color: #cfcfcf;
}

.information-container-wrapper {
    position: relative;
    margin: auto;
}

.information-container-sections {
    height: 400px;
    width: 70vw;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.information-container-section {
    width: 300px;
    height: 400px;
    padding: 50px 80px;
    border: 1px solid #f74660;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
}

.information-container-section:first-letter {
    color: #f74660;
    font-size: 24px;
    font-weight: bold;
}

.information-container-section:hover {
    box-shadow: #f74660 2px 2px 20px 1px;
}
